@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --burlywood: #ecbc76;
  --black: #000000;
  --white: #ffffff;
  --red: #ff0000;
  --dodgerblue: #4285f4;
  --darkorange: #e48700;
    
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-background-burlywood: rgb(236, 188, 118);

  
  --animate-wiggle: wiggle 5s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
      transform-origin: top center;
    }
    50% {
      transform: rotate(3deg);
      transform-origin: top center;
    }
  }
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
